

.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;

    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.market-cap{
    text-align: right;
}
.change{
    text-align: center;
}

.table-layout:last-child{
    border: none;
}

.img-block{
    display: flex;
    align-items: center;
    gap: 10px;
}

.symbol{
    width: 35px
}

.green{
    color: rgb(5, 249, 5);
    text-align: center;
}

.red{
    color: rgb(255, 4, 4);
    text-align: center;
}

@media (max-width: 768px){

    .table-layout{
        display: grid;
        grid-template-columns: 0.5fr 5fr 1fr 1fr;
    }
    .market-cap{
        display: none;
    }
}

@media(max-width: 500px){
    .table-layout div img{
        width: 25px;
    }
}